{% extends 'default.html' %}
{% load censor_filter %}

{% block title %}
News
{% endblock title %}

{% block content %}
   <h1>Все Новости</h1>


   <hr>
   {% if news %}
       <table>
           <tr>
               <td><h5>Дата публикации</h5></td>
               <td><h5>Заголовок</h5></td>
               <td><h5>Содержание</h5></td>
           </tr>

           {% for x in news %}
           <tr>
               <td>{{ x.dateCreation }}</td>
               <td><a href="{% url 'post_detail' x.id %}">{{ x.title|censor }}</a></td>
               <td>{{ x.text|slice:":20" }}</td>

           </tr>
           {% endfor %}

       </table>
   {% else %}
       <h2>Новостей нет!</h2>
   {% endif %}

    {# Добавляем пагинацию на страницу #}

    {# Информация о предыдущих страницах #}
    {% if page_obj.has_previous %}
       <a href="?page=1">1</a>
       {% if page_obj.previous_page_number != 1 %}
           ...
           <a href="?page={{ page_obj.previous_page_number }}">{{ page_obj.previous_page_number }}</a>
       {% endif %}
   {% endif %}

    {# Информация о текущей странице #}
   {{ page_obj.number }}

   {# Информация о следующих страницах #}
   {% if page_obj.has_next %}
       <a href="?page={{ page_obj.next_page_number }}">{{ page_obj.next_page_number }}</a>
       {% if paginator.num_pages != page_obj.next_page_number %}
           ...
           <a href="?page={{ page_obj.paginator.num_pages }}">{{ page_obj.paginator.num_pages }}</a>
       {% endif %}
   {% endif %}

{% endblock content %}